<div>
<table>
    <tr>
        <th>Chamber Temperature</th>
        <td><text title="{{ _('I2C Temperature') }}" data-bind="html: temperatureValue()"></text></td>
    </tr>
    <tr>
        <th>Set Temperature</th>
        <td></td>
    </tr>
    <tr>
        <td>Min</td>
        <td>{{ plugin_i2ctempcontrol_temperatureMin|escape }}</td>
        <td>Max</td>
        <td>{{ plugin_i2ctempcontrol_temperatureMax|escape }}</td>
    </tr>
    <tr>
        <th>Current State</th>
        <td></td>
    </tr>
    <tr>
        <td>Fan</td>
        <td><text title="{{ _('Fan State') }}" data-bind="html: fanState()"></text></td>
        <td>Heater</td>
        <td><text title="{{ _('Heater State') }}" data-bind="html: heaterState()"></text></td>
    </tr>
</table>
    <button class="btn btn-primary" data-bind="click: startLoop">{{ _('Start') }}</button>
    <button class="btn btn-primary" data-bind="click: stopLoop">{{ _('Stop') }}</button>
</div>


