<div>
<table>
    <tr>
        <th>Chamber State</th>
    </tr>
    <tr>
        <td>Temperature</td>
        <td><text title="{{ _('I2C Temperature') }}" data-bind="html: temperatureValue()"></text></td>
        <td>State</td>
        <td><text title="{{ _('Control State') }}" class="controlColor()" data-bind="html: controlState()"></text></td>
    </tr>
    <tr>
        <th>Set Temperature</th>
    </tr>
    <tr>
        <td>Min</td>
        <td><text title="{{ _('Set Temp Min') }}" data-bind="html: setTempMin()"></text></td>
        <td>Max</td>
        <td><text title="{{ _('Set Temp Max') }}" data-bind="html: setTempMax()"></text></td>
    </tr>
    <tr>
        <th>Current State</th>
    </tr>
    <tr>
        <td>Fan</td>
        <td><text title="{{ _('Fan State') }}" class="fanColor()" data-bind="html: fanState()"></text></td>
        <td>Heater</td>
        <td><text title="{{ _('Heater State') }}" class="heaterColor()" data-bind="html: heaterState()"></text></td>
    </tr>
</table>
    <button class="btn btn-primary" data-bind="click: startLoop">{{ _('Start') }}</button>
    <button class="btn btn-primary" data-bind="click: stopLoop">{{ _('Stop') }}</button>
</div>


